*{
    margin: 0;
    padding: 0;
  }
  
  .header{
    min-height: 100vh;
    width: 100%;
    position: relative;
    
  }

/*-------nav bar-------*/
nav {
  display: flex;
  justify-content: space-evenly; /* Centers the nav content horizontally */
  align-items: center; /* Centers the nav content vertically */
  width: 600px;
  right: 1%;
  position: fixed;
  border: 2px solid black;
  top: 1%;
  background-color: #68b893;
  z-index: 10;
}

.nav-links {
  flex: 1;
  text-align: center; /* Centers the links horizontally within the nav */
}

.nav-links ul {
  margin: 0;
  padding: 0;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 15px 20px;
  transition: ease-out 0.3s
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.nav-links ul li:hover{
  transform: scale(1.07);
}

#bars, #bars2 {
  display: none; /* Hidden by default for larger screens */
}

@media (max-width: 700px) {
  nav {
    justify-content: flex-end; /* Align toggle button to the right */
    border: none;
    background: transparent;
    top: 0;
    right: 0;
  }

  .nav-links ul li {
    display: block; /* Stack items vertically for mobile view */
  }

  .nav-links {
    position: absolute;
    background: #68b893;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 0.5s ease; /* Smooth transition */
  }

  img {
    max-width: 100%;
    height: auto;
}

.text-box1, .about-content {
    padding: 10px;
    margin: 10px auto;
}


  .nav-links {
    position: fixed;
    top: 0;
    right: -200px; /* Hide initially */
    height: 100%;
    width: 200px;
    background-color: #68b893;
    z-index: 10;
    transition: 0.3s ease;
}

.show-menu {
    right: 0; /* Slide in the menu */
}


  #bars, #bars2 {
    display: block; /* Show toggle buttons on smaller screens */
    color: #000;
    font-size: 22px;
    cursor: pointer;
  }
  #bars{
    font-size: 20px;
    margin: 10px
  }
  #bars2{
    font-size: 30px;
    margin: 26px 20px;
  }
}

/* Toggle the menu visibility */
.show-menu {
  right: 0; /* Brings the menu into view */
}

/* Logo Circle Container */
.logo-circle {
  width: 60px; /* Circle width */
  height: 60px; /* Circle height, same as width for a perfect circle */
  background-color: #000; /* Circle background color */
  border-radius: 50%; /* Makes the div circular */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(147, 227, 144, 0.1); /* Optional shadow */
  border: 3px solid #68b893;
  z-index: 8;
  position: fixed;
  top:15px;
  margin-left: 2%;
}

/* Adjust the logo image size within the circle */
.logo-circle img {
  width: 600%; /* Slightly smaller than the circle */
  height: auto; /* Maintain aspect ratio */
  position: relative;
  left: -2px;
  top: 3px;
}

  .content-box{
    min-height: 80vh;
    width: 100%;
    background-image: url("/images/Backroung-Home.png");
    background-size: cover;      /* Makes the image cover the whole element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
    
  }

  .content-box-2{
    min-height: 80vh;
    width: 100%;
    background-color:  #ff7c69;
    position: relative;
  }

  .second header hr{
    border-bottom: 2px solid black;
  }

  .header hr{
    border-top: 7px solid black;
  }

  @media (max-width: 1277px){
    .Cover_one, .Cover_two_mini,  .Cover_three_mini, .text-bubble{
      display: none;
    }
    #second-header{
      display: none;
    }
  }
  
  
  
  .title-box{
    font-size: 38px;
    border-radius: 100px;
    background: black;
    color: white;
    width: 650px;
    font-family: "Coiny", system-ui;
    min-height: 175px;
    text-align: center;
    line-height: 185px;
    transform: translate(18%, -82%);
    z-index: 5;
    position: absolute;
  }

  .Cover_one {
    transform: translate(23%, -64%) scale(1.3);
    z-index: 4;
    position:absolute;
  }


  .Cover_two_mini {
    transform: translate(89%, 13%) scale(0.5);
    z-index: 2;
    position:absolute;
  }


  .Cover_three_mini {
    transform: translate(-8%, 13%) scale(0.5);
    z-index: 2;
    position:absolute;
  }

  .text-box1{
    font-size: 18px;
    color: #000000;
    border-radius: 30px;
    border-style: solid;
    background-color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 57px;
    position: absolute;
    z-index: 3
  }
  
  .text-box1 h1{
    font-size: 20;
    font-family: "Ferdoka", serif;
    font-weight: 100;
    font-style: normal;
  }

  .bold-line {
    font-weight: bold;

}

.text-box1colour1{
  width: 100%;
  height: 100%;;
  background-color:  #f5c24c;
  border: 3px solid black;
  border-radius: 30px;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 40px;
}
.text-box1colour2{
  width: 100%;;
  height: 100%;;
  background-color: #ff7c69;
  border: 3px solid black;
  border-radius: 30px;
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 20px;
}

.text-box-container {
  position: relative; 
  display: block;
  flex-basis: 45%;
  min-height: 150px;
  display: inline-block;
  min-width: 450px;
  min-height: 223px;
  width: 60%;
  text-align: center;
  top: 0%;
  left: 30%;
}

@media (max-width: 1080px){

.text-box-container {
  margin-top: 5%;
}

}
  /* Color Layers */
  .color1 {
    background-color: #f5c24c; /* First layer color */
    top: 20px;
    left: 40px;
    z-index: 1;
  }
  
  
  
  .manuel{
    height: 95vh;
    width: 100%;
    position: relative;
    background-color: #017c74;
  }

  .about-section-div{
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap:wrap;
    justify-content: space-evenly;
    padding-top: 10%;
}
  .about-content {
    width: 100%;
    background: black;
    border-radius: 40px;
    flex-basis: 40%;
    margin-bottom: 5%;
}

.about-content h1 {
    font-size: 3rem;
    margin-top: 10%;
    margin-bottom: 3%;
    margin-left: 10%;
    margin-right: 10%;
    color: #fff;
}

.about-content p {
    font-size: 1.2rem;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    color: #fff;
    font-family: "Fredoka", sans-serif;
}

.about-image img {
  border-radius: 20px;
  width: 500px;
  margin-left: 26%;
  transform: translate(0, 10px)
}

.deco-image{
    z-index: -1;
    transform: translate(50%, -275%);
}
.footer {
  height: 13vh;
  width: 100%;
  position: absolute;
  background-color: #000;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 0px; /* Padding for spacing from the edges */
}

.footer-logo, .copyrights, .privacy-policy, .icons {
  flex: 1; /* Equal space for each div */
  text-align: center; /* Center content horizontally */
}

.footer-logo img {
  width: 150px;
}

/* Copyright section adjustments */
.copyrights {
  color: white;
  display: flex; /* Keep icon and text in one row */
  justify-content: center;
  align-items: center;
  white-space: nowrap; /* Prevent line breaks */
}

.copyrights i {
  margin-right: 6px;
  color: white;
}

.privacy-policy a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.privacy-policy a:hover{
  width: 100%;
  text-decoration: underline white;
}

.icons {
  color: white;
}

.icons a{
  text-decoration: none;
  color: white
}
.icons i {
  margin-right: 10px;
  font-size: 20px;
}

.icons i:hover {
  transform: scale(1.05); /* Slight zoom on hover */
  opacity: 0.9; /* Slight opacity change */
  transition: 0.5s;
}

  /* General Reset */
* {
  box-sizing: border-box;
}

.text-bubble {
  transform: translate(33%, 80%) scale(0.5);
  position: absolute;
  top: 50px;
  left: 20px;
  z-index: 9;
}



@media (max-width: 768px) {
  .title-box {
      font-size: 24px;
      width: 90%;
      line-height: normal;
      transform: translate(0, -50%);
      margin: auto;
  }

  .text-box1, .text-box1colour1, .text-box1colour2 {
      width: 90%;
      transform: none;
      margin: auto;
  }

  .about-section-div {
      flex-direction: column;
      align-items: center;
      width: 100%;
  }

  .about-content, .about-image img {
      width: 90%;
      margin: auto;
  }

  
}

/* For smaller screens (mobile) */
@media (max-width: 480px) {
  .header {
      min-height: auto;
  }

  .content-box, .content-box-2 {
      min-height: 50vh;
      padding: 20px;
  }

  .title-box {
      font-size: 18px;
      padding: 10px;
  }


  .about-content h1 {
      font-size: 2rem;
  }

  .about-content p {
      font-size: 1rem;
  }
}
